[tool.poetry]
name = "logto"
version = "0.1.0"
description = "Logto Python SDK."
authors = ["Silverhand Inc. <contact@silverhand.io>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
aiohttp = "^3.8.5"
pydantic = "^2.1.1"
pyjwt = {extras = ["crypto"], version = "^2.8.0"}
flask = {extras = ["async"], version = "^2.3.2"}

[tool.poetry.group.dev.dependencies]
Flask = "^2.3.2"
pytest = "^7.4.0"
pytest-cov = "^4.1.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.coverage.run]
branch = true
omit = ["*_test.py"]
source = ["logto"]
